<div class="info-box @@extra-classes">
    <p>Il team di Partita Doppia sta realizzando una serie di esercizi già svolti e
        consultabili tramite i link qui sotto. Questi post sono utili indipendentemente dal tuo attuale
        livello di conoscenza dell'argomento in quanto descrivono tutti gli step passo per passo.
        Prova anche tu a seguire le istruzioni per iniziare subito a imparar tramite la web app Partita Doppia!
    </p>
    <p class="mt1" @@hidden1>
        <a href="/blog-esercizio-1.html" @@hidden1>Esercizio 1<br></a>
        <a href="/blog-esercizio-2.html" @@hidden2>Esercizio 2<br></a>
        <a href="/blog-esercizio-3.html" @@hidden3>Esercizio 3</a>
    </p>
</div>
