<div class="mb2">
    <h3 class="mb1 align--center">Blog</h3>

    <div class="info-blog @@extra-classes">
        <p>Nella nostro blog dedicato al 🌎 della partita doppia troverai molti spunti utili che potranno aiutarti a migliorare la tua conoscenza in     questo ambito tramite esercizi guidati, da svolgere e non solo!🤓<br>
            Inoltre, avrai la possibilità di scaricare la soluzione ed importarla tramite <a href="https://my.partitadoppia.app">my.partitadoppia.app</a>, in questo modo potrai analizzarla e seguire passo passo tutti i vari step per arrivare alla soluzione!💡<br>
            Non dimenticare siamo solo all'inizio della nostra avventura🛫 dacci fiducia e rimani aggiornato tramite la newsletter📬 o facci visita più spesso per rimanere sempre aggiornato❤️
        </p>
        <p class="mt1" @@hidden1>
            <a href="/blog-esercizio-1.html" @@hidden1>Esercizio 1<br></a>
            <a href="/blog-esercizio-2.html" @@hidden2>Esercizio 2<br></a>
            <a href="/blog-esercizio-3.html" @@hidden3>Esercizio 3</a>
        </p>
    </div>
</div>
