<div class="info-box @@extra-classes">
    <p> 
        Benvenuto nel primo esercizio sviluppato dal Team di Partita Doppia! Qua sotto troverai il primo esercizio di una serie di casistiche di varia difficoltà. Cerca di risolvere gli esercizi da solo, se qualcosa ti sfugge non preoccuparti, puoi dare un’occhiata alla spiegazione per ogni punto dell’esercizio e confrontarla con la tua!😉 <br>
        Se cerchi qualcosa di più avvincente sfida te stesso⚔️, risolvi l'esercizio e confronta il risultato alla fine!😎
        
    </p>
    <p class="mt1" @@hidden1>
        <a href="/blog-esercizio-1.html" @@hidden1>Esercizio 1<br></a>
        <a href="/blog-esercizio-2.html" @@hidden2>Esercizio 2<br></a>
        <a href="/blog-esercizio-3.html" @@hidden3>Esercizio 3</a>
    </p>
</div>
