    <!-- Contact -->
    <section class="bg--secondary-color pt3 pb3">
        <div class="container">
            <div class="mb2 align--center">
                <h3 class="mb1">Scrivici</h3>
                <p>
                    Se hai dei suggerimenti o vuoi proporci una nuova funzionalità puoi utilizzare il nostro
                    <a href="https://trello.com/b/aIPoGQMH" target="_blank">tracker</a> oppure
                    <a href="https://forms.gle/dziv2FPaihu8BQLo9" target="_blank">il form dedicato.</a>
                    Per tutte le altre richieste siamo a disposizione.</p>
            </div>
            <form name="contact" method="POST" data-netlify="true">
                <div class="grid-row">
                    <div class="grid-column span-half mt1">
                        <label class="label" for="name">Nome</label>
                        <input class="form-control" id="name" name="name" type="text">
                    </div>
                    <div class="grid-column span-half mt1">
                        <label class="label" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email">
                    </div>
                </div>
                <label class="label mt1" for="message">Messaggio</label>
                <textarea class="form-control" id="message" name="message"></textarea>
                <div class="align--right mt1">
                    <button class="btn btn--outline" type="submit">Invia</button>
                </div>
            </form>
        </div>
    </section>

</main>
