<div class="container mb2 mt2 cta">
    <!-- Info -->
    <section class="grid-row grid-row--center mb2">
        <div>
            Benvenuto in <strong>partitadoppia.app!</strong> Questa applicazione ti permetterà di creare
            in modo semplice e veloce partite doppie e mastrini.
        </div>
    </section>

    <section class="grid-row grid-row--center">
        <div class="align--center cta">
            <a href="https://my.partitadoppia.app">
                <button class="btn btn--outline">🚀 Inizia subito</button>
                <a href="#blog-intro"><button class="btn btn--outline ml1">📚 Blog</button></a>
            </a>
        </div>
    </section>
</div>
