<!doctype html>
<html lang="it-it" class="@@body-classes">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Partita Doppia</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
        <meta name="application-name" content="Partita Doppia"/>
        <meta name="msapplication-TileColor" content="#3A4EF2" />
        <meta name="msapplication-TileImage" content="/mstile-144x144.png" />

        <meta itemprop="name" content="Partita Doppia">
        <meta itemprop="description" content="Partita Doppia è l'app web che ti permette di realizzare facilmente le partite doppie e generare mastrini.">
        <meta itemprop="image" content="https://www.partitadoppia.tk/img/name-selection.jpg">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Partita Doppia">
        <meta name="twitter:description" content="Partita Doppia è l'app web che ti permette di realizzare facilmente le partite doppie e generare mastrini.">
        <meta name="twitter:image:src" content="https://www.partitadoppia.tk/img/name-selection.jpg">

        <meta property="og:title" content="Partita Doppia" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://www.partitadoppia.tk" />
        <meta property="og:image" content="https://www.partitadoppia.tk/img/name-selection.jpg" />
        <meta property="og:description" content="Partita Doppia è l'app web che ti permette di realizzare facilmente le partite doppie e generare mastrini." />
        <meta property="og:site_name" content="Partita Doppia" />
        <meta property="article:published_time" content="2021-03-15T00:00:00+01:00" />

        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a149451220f66eba5ce331a94/01f974190f0c8f8f4c403a164.js");</script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KXSM08XPSY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-KXSM08XPSY');
        </script>
        <script data-ad-client="ca-pub-8192377810694463" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    </head>

    <body class="has-animations">
